@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES:wght@100..400&display=swap');

    * {
        font-family: "Playwrite ES";
    }

    img {


    }

    .product {
        display: flex;
        height: 250px;
        margin-top: 20px;
        background-color: white;
        border-radius: 20px;
        padding: 10px;
    }

    .price {
        margin-left: auto;
        text-align: center;
    }

    .product_list {
        border: 1px black solid;
    }

    .product * {
        background-color: gray;
        width: 60%;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        text-align: center;
    }



    h2 {
        width: 150px;
    }

    h1 {
        margin: 0;
    }

    a {
        margin-left: 20px;
        text-decoration: none;
        font-size: 20px;

    }

    div {

    }

    p {
        width: 700px;
    }

    button {
        margin-left: auto;
    }